EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBTZLjZWWjSl-ogVPJCqybcKqvIsqrNiUY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=themis-f7a1f.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=themis-f7a1f
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=themis-f7a1f.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=843199908993
EXPO_PUBLIC_FIREBASE_APP_ID=1:843199908993:web:b72e6bc0be666332315180
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-7WBSWJSYT6
